In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.style.use('default')
sns.set(style="whitegrid")

In [78]:
#1
pdfGenEdad = pd.read_csv("todos/PGenEdad.csv")
#pdfAvisos = pd.read_csv("todos/PAvisos.csv")
#pdfAvisosDet = pd.read_csv("todos/PAvisosDet.csv")
#pdfPostu = pd.read_csv("todos/PPostu.csv")
#pdfVistas = pd.read_csv("todos/PVistas.csv")
pdfEdu = pd.read_csv("todos/PEdu.csv")

#2
dfGenEdad = pd.read_csv("todos/GenEdad.csv")
#dfAvisosDet = pd.read_csv("todos/AvisosDet.csv")
#dfVistas = pd.read_csv("todos/Vistas.csv")
dfEdu = pd.read_csv("todos/Edu.csv")

In [79]:
dfGenEdadEdu = pd.merge(pdfGenEdad,pdfEdu,how = 'inner', on = "idpostulante")
dfGenEdadEdu["nombre"].value_counts()

Universitario        364970
Secundario           340070
Terciario/Técnico    160291
Otro                  74919
Posgrado              29255
Master                14422
Doctorado               836
Name: nombre, dtype: int64

In [80]:
def filtroDeRepetidos(df):
    #si hay mas de un estado :Abandonad>Graduado>En Curso
    dft1 = df[df["estado"]=="Abandonado"]
    dft2 = df[df["estado"]=="Graduado"]
    dft3 = df[df["estado"]=="En Curso"]
    df = pd.concat([dft1,dft2[~(dft2["idpostulante"].isin(dft1["idpostulante"]))]])
    df = pd.concat([df,dft3[~(dft3["idpostulante"].isin(df["idpostulante"]))]])
    return df
#aislo cada caso

dfGenEdadEdu = dfGenEdadEdu.drop_duplicates(subset = ["nombre","estado","idpostulante"])

Sec = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Secundario"]
Uni = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Universitario"]
Ter = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Terciario/Técnico"]
Pos = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Posgrado"]
Mas = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Master"]
Doc = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Doctorado"]

Sec = filtroDeRepetidos(Sec)
Uni = filtroDeRepetidos(Uni)
Ter = filtroDeRepetidos(Ter)
Pos = filtroDeRepetidos(Pos)
Mas = filtroDeRepetidos(Mas)
Doc = filtroDeRepetidos(Doc)
#me quedo con el mas grande, doc>master>posgrado...
Doc = pd.concat([Doc,Mas[~(Mas["idpostulante"].isin(Doc["idpostulante"]))]])
Doc = pd.concat([Doc,Pos[~(Pos["idpostulante"].isin(Doc["idpostulante"]))]])
Doc = pd.concat([Doc,Uni[~(Uni["idpostulante"].isin(Doc["idpostulante"]))]])
Doc = pd.concat([Doc,Ter[~(Ter["idpostulante"].isin(Doc["idpostulante"]))]])
Doc = pd.concat([Doc,Sec[~(Sec["idpostulante"].isin(Doc["idpostulante"]))]])
dfPGenEdadEdu = Doc
# todos los id son unicos
dfPGenEdadEdu["nombre"].value_counts()

Universitario        172957
Secundario           114459
Terciario/Técnico     54090
Posgrado              13573
Master                 7987
Doctorado               497
Name: nombre, dtype: int64

In [81]:
dfGenEdadEdu = pd.merge(dfGenEdad,dfEdu,how = 'inner', on = "idpostulante")
dfGenEdadEdu["nombre"].value_counts()

Universitario        792336
Secundario           727224
Terciario/Técnico    348826
Otro                 164909
Posgrado              66186
Master                32574
Doctorado              1847
Name: nombre, dtype: int64

In [82]:
def filtroDeRepetidos(df):
    #si hay mas de un estado :Abandonad>Graduado>En Curso
    dft1 = df[df["estado"]=="Abandonado"]
    dft2 = df[df["estado"]=="Graduado"]
    dft3 = df[df["estado"]=="En Curso"]
    df = pd.concat([dft1,dft2[~dft2["idpostulante"].isin(dft1["idpostulante"])]])
    df = pd.concat([df,dft3[~dft3["idpostulante"].isin(df["idpostulante"])]])
    return df


dfGenEdadEdu = dfGenEdadEdu.drop_duplicates(subset = ["nombre","estado","idpostulante"])


#aislo cada caso
Sec = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Secundario"]
Uni = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Universitario"]
Ter = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Terciario/Técnico"]
Pos = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Posgrado"]
Mas = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Master"]
Doc = dfGenEdadEdu.loc[dfGenEdadEdu['nombre']=="Doctorado"]

Sec = filtroDeRepetidos(Sec)
Uni = filtroDeRepetidos(Uni)
Ter = filtroDeRepetidos(Ter)
Pos = filtroDeRepetidos(Pos)
Mas = filtroDeRepetidos(Mas)
Doc = filtroDeRepetidos(Doc)
#me quedo con el mas grande, doc>master>posgrado...
Doc = pd.concat([Doc,Mas[~Mas["idpostulante"].isin(Doc["idpostulante"])]])
Doc = pd.concat([Doc,Pos[~Pos["idpostulante"].isin(Doc["idpostulante"])]])
Doc = pd.concat([Doc,Uni[~Uni["idpostulante"].isin(Doc["idpostulante"])]])
Doc = pd.concat([Doc,Ter[~Ter["idpostulante"].isin(Doc["idpostulante"])]])
Doc = pd.concat([Doc,Sec[~Sec["idpostulante"].isin(Doc["idpostulante"])]])
dfGenEdadEdu = Doc
# todos los id son unicos
dfGenEdadEdu["nombre"].value_counts()

Universitario        208619
Secundario           142068
Terciario/Técnico     66686
Posgrado              16632
Master                 9664
Doctorado               606
Name: nombre, dtype: int64

In [83]:
#dfGenEdadEdu["cantidad edus"] = dfEdu["idpostulante"].value_counts() 
dfGenEdadEdu["cantidad edus"] = dfEdu.groupby("idpostulante")["idpostulante"].transform('count')
dfPGenEdadEdu["cantidad edus"] = pdfEdu.groupby("idpostulante")["idpostulante"].transform('count')

,Unnamed: 0_x,idpostulante,fechanacimiento,sexo,Unnamed: 0_y,nombre,estado,cantidad edus
39016,5865,X9lpKkb,1975-02-22,MASC,9823,Doctorado,Abandonado,6.0
46777,7026,aNZq5m,1971-11-15,MASC,12011,Doctorado,Abandonado,3.0
110077,16350,GNd8qrb,1960-11-19,MASC,25242,Doctorado,Abandonado,2.0
118560,17641,6rBbG2l,1993-06-29,FEM,27337,Doctorado,Abandonado,4.0
135473,20124,8oq33R,1974-03-13,MASC,31743,Doctorado,Abandonado,6.0

In [84]:
dfPGenEdadEdu = dfPGenEdadEdu.drop(columns = ["Unnamed: 0_x","Unnamed: 0_y"])
dfGenEdadEdu = dfGenEdadEdu.drop(columns = ["Unnamed: 0_x","Unnamed: 0_y"])

In [ ]:
dfGenEdadEdu["fechanacimiento"] = pd.to_datetime(dfGenEdadEdu["fechanacimiento"],errors = "coerce")
dfGenEdadEdu["fechanacimiento"] = dfGenEdadEdu["fechanacimiento"].dropna()
dfPGenEdadEdu["fechanacimiento"] = pd.to_datetime(dfPGenEdadEdu["fechanacimiento"],errors = "coerce")
dfPGenEdadEdu["fechanacimiento"] = dfPGenEdadEdu["fechanacimiento"].dropna()

In [89]:
dfGenEdadEdu["edad"] = (2018 - dfGenEdadEdu["fechanacimiento"].dt.year  )
dfPGenEdadEdu["edad"] = (2018 - dfPGenEdadEdu["fechanacimiento"].dt.year  )

In [90]:
dfGenEdadEdu.to_csv("procesado1/usuarios.csv")
dfPGenEdadEdu.to_csv("procesado1/pusuarios.csv")