In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dfPostu = pd.read_csv("todos/PPostu.csv")
dfAvisosDet = pd.read_csv("procesado1/avisosDetConFede.csv")

In [5]:
del dfPostu["Unnamed: 0"]

In [6]:
dfPostu.head(5)

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [7]:
dfPostu = pd.merge(dfPostu,dfAvisosDet,on="idaviso",how="left")

In [8]:
dfPostu.head()

,idaviso,idpostulante,fechapostulacion,Unnamed: 0,titulo,descripcion,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa,cantVistas,cant_horas
0,1112248724,NjlD,2018-01-19 07:39:16,17831.0,Analista de CRM y Marketing Digital,<p>¡En LoJack estamos buscando un Analista de ...,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,0.0,583.444167
1,1112248724,NjlD,2018-01-19 07:39:16,17832.0,Analista de CRM y Marketing Digital,<p>¡En LoJack estamos buscando un Analista de ...,Full-time,Senior / Semi-Senior,Marketing,Lo Jack,0.0,583.444167
2,1112286523,ZaO5,2018-01-24 15:07:39,4779.0,Secretaria de CEO,"<p style=""""><strong><span style="""">Importante ...",Full-time,Senior / Semi-Senior,Secretaria,Constructora Sudamericana,116.0,2000.355556
3,1112286523,ZaO5,2018-01-24 15:07:39,4780.0,Secretaria de CEO,"<p style=""""><strong><span style="""">Importante ...",Full-time,Senior / Semi-Senior,Secretaria,Constructora Sudamericana,116.0,2000.355556
4,1112272060,ZaO5,2018-01-24 15:20:10,28374.0,Recepcionista Concesionaria Ford de San Isidro,"<p><strong>Ford Motors Argentina, seleccionará...",Full-time,Senior / Semi-Senior,Recepcionista,ABC CONSULTORES,3.0,966.419167

In [16]:
dfPostu.shape

(14145254, 12)

In [ ]:
dfPostu.drop_duplicates().shape

In [18]:
dfPostu["descripcion"].nunique()

17260