Importo librerias a ultilizar

In [1]:
import pandas as pd
import numpy  as np
import matplotlib
import seaborn as sbn
from datetime import datetime as dt

In [2]:
%matplotlib inline

### ¿Existe relación entre el nivel de educación y el nivel laboral requerido en las postulaciones?

Para este análisis procedemos a cargar, inicialmente, en un dataframe los datos del nivel educativo de los postulantes.

In [5]:
educacion_postulantes = pd.read_csv('../datos_navent_fiuba/fiuba_1_postulantes_educacion.csv', low_memory=False)

Hechamos un vistazo general de los datos:

In [6]:
educacion_postulantes.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [8]:
educacion_postulantes.tail()

       idpostulante             nombre      estado
298226      GNZqARp  Terciario/Técnico  Abandonado
298227      ow2p8vk      Universitario  Abandonado
298228      6rPEvwv      Universitario  Abandonado
298229      vVja45X      Universitario  Abandonado
298230      1QPMbX3      Universitario  Abandonado

Nos preguntamos la dimension de este data frame:

In [13]:
educacion_postulantes.shape

(298231, 3)

Vemos si existe algun dato nulo

In [16]:
educacion_postulantes.isnull().any()

idpostulante    False
nombre          False
estado          False
dtype: bool

Como hemos obtuvimos False en cada columna podemos estar seguros de que tenemos la informacion completa en este data frame. Con lo cual no limpiamos nada.

Ahora procedemos a obtener la información de las postulaciones:

In [18]:
postulaciones = pd.read_csv('../datos_navent_fiuba/fiuba_4_postulaciones.csv')

vemos alguno de los datos para saber la estructura de nuestro data frame

In [20]:
postulaciones.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

Para el análisis propuesto creemos de importancia las columnas "idaviso" y "idpostulante" con lo cual procedemos a ver si estas poseen datos nulos para poder limpiarlos y tambien nos quedamos unicamente con esas columnas.

In [22]:
postulaciones.isnull().any()

idaviso             False
idpostulante        False
fechapostulacion    False
dtype: bool

Vemos que las columnas no tienen información nula.

In [24]:
postulaciones = postulaciones[['idaviso','idpostulante']]

Para saber el nivel laboral de las publicaciones a las cuales las personas se postulan procedemos a cargar los datos de los detalles de los avisos :

In [30]:
detalles_avisos = pd.read_csv('../datos_navent_fiuba/fiuba_6_avisos_detalle.csv')

Procedemos a dar un vistazo a este data frame:

In [38]:
detalles_avisos.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

Nos preguntamos si hay datos nulos:

In [39]:
detalles_avisos.isnull().any()

idaviso                 False
idpais                  False
titulo                  False
descripcion             False
nombre_zona             False
ciudad                   True
mapacalle                True
tipo_de_trabajo         False
nivel_laboral           False
nombre_area             False
denominacion_empresa     True
dtype: bool